.header {
  margin-top: 12vw;
  background-repeat: no-repeat;
  min-height: 35vw;
  background-size: cover;
  border-radius: 30px;
  position: relative;

  &_content {
    position: absolute;
    bottom: 60px;
    left: 25px;
    color: #fff;
    img {
      width: 1.8vw;
    }
    h1 {
      font-size: 2.5vw;
    }
  }
  .liner-gradient {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 3.72%,
      rgb(0 0 0 / 20%) 71.51%
    );
    border-radius: 30px;
  }
}
@media screen and (max-width: 780px) {
  .header {
    margin-top: 16vw;
  }
}
@media screen and (max-width: 520px) {
  .header {
    border-radius: 15px;
    &_content {
      bottom: 18px;
    }
  }
}
@media screen and (max-width: 490px) {
  .header {
    margin-top: 18vw;
  }
}
