@import "../../../../../Components/mixin.scss";
.our_mission {
  &_header {
    p {
      margin-top: 20px;
      font-size: 1.5vw;
    }


    &_title {
      margin-top: 40px;
      img {
        width: 12vw;
        margin: 10px 0;
      }
      h3 {
        font-size: var(--title-size);
      }
    }
    &_content {
      // position: relative;
      align-items: center;
      display: flex;
      p {
        @include font(1.5vw, 2.1vw, #000);
        width: 50vw;
        margin-top: 3vw;
      }
      h2 {
        margin-left: 4vw;
        width: 20vw;
        margin-bottom: 6vw;
        @include font(2.2vw, 2.5vw, #000);
        span {
          display: block;
          color: var(--green-color);
        }
      }
      img {
        width: 15vw;
        position: absolute;
        right: 0;
        // top: 0;
      }
    }
  }
  &_cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    &_item {
      display: flex;
      justify-content: space-between;
      width: 38vw;
      position: relative;
      box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.134);
      border-radius: 15px;
      height: 20vw;
      padding: 3vw;
      .left {
        width: 22vw;

        h2 {
          font-size: 2vw;
        }
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 10vw;
          font-size: 1.5vw;
          position: absolute;
          bottom: 2vw;
          cursor: pointer;
          img {
            width: 2.2vw;
            margin-top: 3px;
            margin-left: 5px;
          }
          &::selection {
            background-color: transparent;
          }
        }
      }
      .right {
        width: 50%;
        position: absolute;
        right: 0;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .our_mission {
    &_header {
      p {
        font-size: 2.2vw;
        line-height: 3.5vw;
      }

      &_title {
        margin-top: 20px;
        img {
          width: 15vw;
        }
      }
      &_content {
        display: block;
        position: relative;
        p {
          width: 100%;
          @include font(3vw, 4vw, #000);
        }
        h2 {
          @include font(5vw, 7vw, #000);
          width: 70%;
          margin: 0;
          margin-top: 40px;
        }
        img {
          bottom: 0px;
          width: 25vw;
          right: -7vw;
        }
      }
    }
    &_cards {
      display: block;
      &_item {
        padding: 5vw;
        width: 100%;
        margin: 10px 0;
        height: 30vw;
        .left {
          width: 45vw;
          h2 {
            font-size: 3.5vw;
          }
          p {
            font-size: 2.5vw;
          }
        }
        .right {
          width: 30%;
          img {
          }
        }
      }
    }
  }
}
