.card {
  display: flex;
  // width: 45%;
  align-items: center;
  margin: 5px 0;
  img {
    width: 2vw;
    margin-right: 1vw;
  }
  p {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 520px) {
  .card {
    img {
      width: 7vw;
      margin-right: 2.5vw;
    }
    p {
      font-size: 3.5vw;
    }
  }
}
